@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf)
    format("truetype");
}

@font-face {
  font-family: "Bodoni FLF";
  src: url(../fonts/BodoniFLF/BodoniFLF-Roman.woff) format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: white;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
}

.north {
  background-image: url("../images/bgNord.jpg");
  background-size: auto 100%;
  background-position: 69%;
}

.south {
  background-image: url("../images/bgSud.jpg");
  background-size: auto 100%;
  background-position: 69%;
}

main {
  min-height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.4)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 25px;
}

.searchBox {
  width: 100%;
  height: 50px;
  margin-top: -25px;
  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 1;
}

.searchBar {
  color: #023a5e;
  font-size: 1.2rem;

  width: 100%;
  height: 100%;
  padding: 10px 15px;
  border-radius: 0 0 16px 16px;

  outline: none;
  border: none;
  background: none;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 2px;
}

.searchBar::placeholder {
  color: #023a5e;
}

.hidden {
  opacity: 0;
}

@keyframes appearAndDisappear {
  0% {
  }
  25% {
    transform: translateY(2px);
  }
  30% {
    transform: translateY(0px);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.onError {
  background-color: rgb(223, 97, 97);
  font-size: 1.2rem;
  width: fit-content;
  margin-top: 15px;
  padding: 0.5rem 0.9rem;
  border-radius: 1rem;

  z-index: -1;
  opacity: 0;
  transform: translateY(-100px);

  animation: appearAndDisappear 2.5s ease-out;
}

.welcomeBox {
  height: 70vh;
}

.welcomeMessage {
  font-family: "Bodoni FLF";
  text-align: center;
  /*margin-top: 36%;*/
  line-height: 3.2rem;
  font-size: 2.7rem;
}

.locationBox {
  height: 4vh;
  text-shadow: rgba(0, 0, 0, 0.2) 3px 3px;
}

.location {
  font-family: "Bodoni FLF";
  font-style: italic;
  letter-spacing: 0.2rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.date {
  font-weight: 100;
}

.weather {
  font-size: 6rem;
  height: 22vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-shadow: rgba(0, 0, 0, 0.2) 3px 3px;
}

@keyframes topDown {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.icon {
  animation: topDown 6.5s linear infinite;
}

.temperature {
  font-family: "Bodoni FLF";
}

.buttonBox {
  height: 23vh;
}

.btn {
  color: #023a5e;
  font-size: 1.1rem;
  padding: 12px 17px 10px;
  border-radius: 40px;
  letter-spacing: 0.1rem;
  line-height: 1.6rem;
  font-weight: bold;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 2px;
  cursor: pointer;
}

.btn-return {
  font-size: 3rem;
  width: 100%;
  padding-left: 10px;
}

.infoBox {
  height: 17vh;
  text-shadow: rgba(0, 0, 0, 0.2) 3px 3px;
}

.infoBox h1 {
  text-align: center;
  font-weight: 100;
  margin-bottom: 13px;
}

.sevenDayTable {
  width: 90%;
  max-width: 400px;
  height: 48vh;
}

.oneDayForecast {
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  text-shadow: rgba(0, 0, 0, 0.2) 3px 3px;
}

.oneDayForecast:not(:last-child) {
  margin-bottom: 10px;
}

.oneDayForecast span:first-child {
  width: 45%;
}

.oneDayForecast span:last-child {
  width: 25%;
  text-align: right;
}

.noForecastAvailable {
  height: 48vh;
  font-size: 1.5rem;
  text-align: center;
  line-height: 2rem;
  padding: 1rem;
}

@media screen and (max-height: 750px) {
  .weather {
    justify-content: flex-start;
    height: 28vh;
  }
}

@media screen and (min-width: 750px) {
  body {
    font-size: 1.4rem;
  }

  .searchBox {
    width: 70%;
  }

  .searchBar {
    font-size: 1.6rem;
  }

  .location {
    font-size: 3.2rem;
  }

  .weather {
    font-size: 8rem;
    height: 28vh;
  }

  .icon {
    margin-bottom: 20px;
  }

  .btn {
    font-size: 1.5rem;
    padding: 19px 24px 14px;
    line-height: 1.9rem;
    border-radius: 43px;
  }

  .oneDayForecast {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .north {
    background-position: center;
  }
}
